# grammars/tal.cson
#   Autor: JCMiguel
#   Date: 05-2019
#   References:
#     https://github.com/atom/language-c/blob/master/grammars/c.cson
#     https://macromates.com/manual/en/language_grammars

scopeName: 'source.tal'
name: 'TAL'
fileTypes: [ 'tal' ]
limitLineLength: false
patterns: [
  {
    ## COMENTARIO CON !
    begin: '!'
    end: '(!|$)'
    name: 'comment.block'
  }
  {
    ## COMENTARIO CON --
    name: 'comment.line'
    match: '--.*$'
  }
  {
    ## STRING LITERAL ENTRE COMILLAS "hOLI"
    match: '(\\")(.*?)(\\")'
    captures:
      1:
        name: 'string.quoted.double'
      2:
        name: 'string.quoted.double'
      3:
        name: 'string.quoted.double'
  }
  {
    ## OPERADORES VARIOS
    name: 'entity.name.type' #Uso esto sólo por el color
    match: "(?i:(:=|=:|':='|'=:'|<<|>>|'<<'|'>>'|\\+|-|\\/|\\*|<|>|=|<=|>=|<>|'<'|'>'|'='|'<='|'>='|'<>'|\\slor\\s|\\sland\\s|\\snot\\s|\\sxor\\s|\\sor\\s|\\sand\\s))"
  }
  {
    ## TIPOS DE VARIABLES
    name: 'support.type'
    match: '(?i:\\b(string|int|unsigned|struct|fixed|real|literal|label|block|name)\\b)'
  }
  {
    ## ESTA REGLA ESTÁ PARA EVITAR LA COLORACIÓN DE TEXTO^TIPOVARIABLE
    name: 'support.other'
    match: '(?i:\\^(string|int|unsigned|struct|fixed|real|literal|label|block|name)\\b)'
  }
  {
    ## DIRECCIONAMIENTO E INDIRECCIONAMIENTO @PTR
    name: 'entity.name.tag'
    match: '(\\@((\\w*\\^\\w*\\^\\w*)|(\\w*\\^\\w*)|(\\w*)))'
  }
  {
    ## KEYWORDS PROC, BEGIN Y END
    name: 'support.function'
    match: '(?i:\\b(proc|subproc|begin|end)\\b)'
  }
  {
    ## ATRIBUTOS DE PROC
    name: 'entity.name.tag'
    match: '(?i:\\b(main|variable|extensible|forward|external)\\b)'
  }
  {
    ## USO DE REGISTROS DE OPTIMIZACIÓN
    name: 'entity.name.tag'
    match: '(?i:\\b(use|drop)\\b)'
  }
  {
    ## SENTENCIAS DE CONTROL
    name: 'keyword.control'
    match: '(?i:\\b(if|then|while|for|else|case|otherwise|to|do|call|assert|bytes|words)\\b)'
  }
  {
    ## DIRECTIVAS DE COMPILACION PARTE I
    begin: '(?i:(\\?(source|section|list|nolist|nocode|block)(,|\\s|,\\s)))'
    end: '(\\s|$)'
    name: 'entity.name.section'
  }
  {
    ## DIRECTIVAS DE COMPILACION PARTE II
    begin: '(?i:(\\?(page|map|assertion)))'
    end: '$'
    name: 'entity.name.section'
  }
  {
    ## DECLARACIÓN EXTENDIDA
    name: 'keyword.control'
    match: '(?i:\\s(\\.ext))'
  }
  {
    ## NUMEROS REAL (FLOTANTES)
    name: 'constant.numeric'
    match: '(?i:((\\d+\\.\\d+)|(\\d+))e(\\d+|.\\d+))'
  }
  {
    ## NUMEROS INT(32)        #BINARIO
    name: 'entity.name.section' #Uso esto sólo por el color
    match: '(?i:(\\%b)[0-1]+d)'
  }
  {
    ## NUMEROS INT(16)        #BINARIO
    name: 'constant.numeric'
    match: '(?i:(\\%b)[0-1]+)'
  }
  {
    ## NUMEROS INT(32)        #HEXADECIMAL
    name: 'entity.name.section' #Uso esto sólo por el color
    match: '(?i:(\\%h)[0-9a-fA-F]+\\%d)'
  }
  {
    ## NUMEROS INT(16)        #HEXADECIMAL
    name: 'constant.numeric'
    match: '(?i:(\\%h)[0-9a-fA-F]+)'
  }
  {
    ## NUMEROS INT(32)         #OCTAL
    name: 'entity.name.section' #Uso esto sólo por el color
    match: '(?i:(\\%)[0-7]+d)'
  }
  {
    ## NUMEROS INT(16)         #OCTAL
    name: 'constant.numeric'
    match: '(?i:(\\%)[0-7]+)'
  }
  {
    ## NUMEROS FIXED
    name: 'constant.numeric'
    match: '(?i:(\\d+f)|(\\d+\\.\\d+f))'
  }
  {
    ## NUMEROS INT(32)        #DECIMAL
    name: 'entity.name.tag' #Uso esto sólo por el color
    match: '(?i:\\b\\d+d)'
  }
  {
    ## NUMEROS INT(16)        #DECIMAL
    name: 'keyword.control' #Uso esto sólo por el color
    match: '(\\b\\d+)'
  }
  {
    ## IDENTIFICADORES DE FUNCIONES
    match: '((\\w*)|(\\w*\\^\\w*)|(\\w*\\^\\w*\\^\\w*))(\\(|\\s\\()'
    captures:
      1:
        name: 'string.quoted.double' #Uso esto sólo por el color
  }
  {
    ## FUNCIONES ESTANDAR
    match: '(\\$\\w*)(\\(|\\s)'
    captures:
      1:
        name: 'support.function'
  }
]
